.brand-logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: #FFFBF2;
}
.right {
    font-family: 'Courier New', Courier, monospace;
}

.images {
    filter: brightness(40%);
}

.caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: 200%;
}

.card-panel {
    background-color: rgb(243, 240, 236);
}

.rounded {
    border-top: 8px solid rgb(103, 67, 22);
    border-radius: 5px;
}

.background-image {
    background-image: url(images/bg.jpg);
    background-size: cover;
    min-height: 300px;
    
}